.element__photo {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .element__photo {
    width: 343.5px;
    height: 343.5px;
  }
}

@media screen and (max-width: 767px) {
  .element__photo { 
    width: 282px;
    height: 282px;
  }
}